# Assignment Python                        #Timing 9-12 
 
 
# String Builtin Function                   # 24-11-2019

In [1]:
n='Nauman Khalid'
dir(n)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [3]:
name='Nauman Khalid'
print(name)
print(name.capitalize()) #Only capitalize 1 character of string

Nauman Khalid
Nauman khalid

In [4]:
name='Nauman Khalid'
print(name.casefold()) #lower all character of string

nauman khalid

In [9]:
name='Nauman Khalid'
print(name.center(40)) #taking space of 40 character and pring name in the middle

             Nauman Khalid

In [14]:
name='Nauman Khalid'
print(name.count('a')) #print total number of a character like 'a'

3

In [18]:
name='Nauman Khålid'
print(name.encode()) #encode the string

b'Nauman Kh\xc3\xa5lid'

In [20]:
name='Nauman Khålid'
print(name.endswith('l')) #compare with end character of string and reture true or false

False

In [23]:
name='N\tauman Khålid'
print(name.expandtabs(3)) #space between the character

N  auman Khålid

In [24]:
name='Nauman Khålid'
print(name.find('m')) #return the index of find character

3

In [25]:
name='My Name is {fname} {lname}'
print(name.format(fname='Nauman',lname='Khalid')) #Insert the fname and lname inside the placeholder{}, the fname and lname should be in fixed point

My Name is Nauman Khalid

In [32]:
name={'fname':'Nauman', 'lname':'Khalid'}
print('{fname} {lname}'.format_map(name))

Nauman Khalid

In [33]:
name='Nauman Khålid' 
print(name.index('K'))  #return the index of specific character

7

In [40]:
name='Nauman43' 
print(name.isalnum()) #return if string is alphanumeic or not e.g character and number

True

In [42]:
name='NaumanKhalid' 
print(name.isalpha()) #return true of false if string have all alphabets without space

True

In [43]:
name='Nauman Khalid' 
print(name.isascii())

True

In [44]:
name='Nauman Khalid' 
print(name.isdecimal()) #return if string have any decimal value

False

In [45]:
name='Nauman Khalid' 
print(name.isdigit()) #return if string have any digits

False

In [47]:
name='NaumanKhalid' 
print(name.isidentifier()) #return true or false if string have some identifier like start with _,or no space between word

True

In [48]:
name='Nauman Khalid'
print(name.islower()) #return true or false if string have all characters are lower case

False

In [51]:
name='Nauman Khalid'
print(name.isnumeric())
number='12'
print(number.isnumeric()) #return true or false if string have all characters are numeric

False
True

In [52]:
name='Nauman Khalid'
print(name.isprintable()) #return true or false if string have all characters are printable

True

In [56]:
name='Nauman Khalid'
print(name.isspace())
name='  '
print(name.isspace())  #returns True if all the characters in a string are whitespaces, otherwise False

False
True

In [57]:
name='Nauman Khalid'
print(name.istitle()) #return true or false if each word start with an upper case letter

True

In [59]:
name='Nauman Khalid'
print(name.isupper())
name='NAUMAN KHALID'
print(name.isupper())  #return true or false if whole string will have upper case letter

False
True

In [62]:
name={'Nauman','Khalid'}
print('  '.join(name)) #method takes all items in an iterable and joins them into one string. A string must be specified as the separator.

Nauman    Khalid

In [71]:
name='Nauman '
name1=name.ljust(20)
print(name1,"Khalid")  #return 20 character space from left justified

Nauman               Khalid

In [72]:
name='Nauman Khalid'
print(name.lower())  #return all character in lower case

nauman khalid

In [74]:
name='   Nauman Khalid   '
print(name)
name='   Nauman Khalid   '
print(name.lstrip())   #remove space for letf side

   Nauman Khalid
Nauman Khalid

In [77]:
name='Nauman Khalid'
print(name.partition('Khalid'))  #return a tuple

('Nauman ', 'Khalid', '')

In [78]:
name='Nauman Khalid'
print(name.replace('Nauman','Nomi'))  #replace the word to another word

Nomi Khalid

In [83]:
name='Nauman Khalid'
print(name.rfind('d')) #return the index almost rindex(),if value not found return -1

12

In [85]:
name='Nauman Khalid'
print(name.rindex('K')) #return the index almost rindex(),if value not found return error

7

In [89]:
name='Nauman Khalid'
print(name.rjust(25)) #return a justified version of string

            Nauman Khalid

In [90]:
name='Nauman Khalid'
print(name.rpartition('Khalid'))

('Nauman ', 'Khalid', '')

In [91]:
name='Nauman Khalid'
print(name.rsplit()) #return in list

['Nauman', 'Khalid']

In [92]:
name='Nauman Khalid'
print(name.rstrip())

Nauman Khalid

In [93]:
name='Nauman Khalid'
print(name.split())

['Nauman', 'Khalid']

In [94]:
name='Nauman Khalid'
print(name.splitlines()) #return a single work list

['Nauman Khalid']

In [97]:
name='Nauman Khalid'
print(name.startswith('N'))
name='Nauman Khalid'
print(name.startswith('K')) #return true or false if the given character are starting character of whole string

True
False

In [98]:
name='Nauman Khalid'
print(name.strip())

Nauman Khalid

In [99]:
name='Nauman Khalid'
print(name.swapcase())  #return first character of every work in lower and other whole string will be UPPER case

nAUMAN kHALID

In [101]:
name='nauman khalid'
print(name.title()) #convert the first character of every word in UPPER Case

Nauman Khalid

In [103]:
name='Nauman Khalid'
print(name.upper()) #return the whole string in upper case

NAUMAN KHALID

In [110]:
name='Nauman Khalid'
print(name.zfill(14)) #add zeros after the total character of string with includes spaces

0Nauman Khalid